@font-face {
  font-family: "Kr Noto Sans";
  src: url("~fonts/kr-noto-sans/NotoSansKR-Thin.otf") format("opentype");
      /* url("~fonts/kr-noto-sans/NotoSansKR-Black.otf") format("opentype"),
      url("~fonts/kr-noto-sans/NotoSansKR-Bold.otf") format("opentype"),
      url("~fonts/kr-noto-sans/NotoSansKR-Light.otf") format("opentype"),
      url("~fonts/kr-noto-sans/NotoSansKR-Medium.otf") format("opentype"),
      url("~fonts/kr-noto-sans/NotoSansKR-Regular.otf") format("opentype"), */
}

.app {
  height: 100vh;
  background-color: #FFFFFF;
  font-family: "Kr Noto Sans", sans-serif;
}

.app * {
  font-family: "Kr Noto Sans", sans-serif;
}

.app > div {
  height: 100%;
  overflow: auto;
}

.app > div > div {
  min-height: 100%;
}

@media (min-width: 768px) {
  .app :global(.container) {
    max-width: 720px !important;
  }
}

.topHeader {
  height: 25vmin;
  background: #FFF;
  width: 100%;
  /* box-shadow: 0 0.3rem 0 0 rgba(0, 0, 0, 7%); */
}

.topHeader img.topHeaderLogo {
  max-height: 100%;
}

.loadingWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.loadingWrapper > .loadingInner {
  height: 100%;
  width: 10%;
}

.ctaHeader {
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
  line-height: 1;
}
.ctaArrow {
  text-align: center;
  font-size: 10vw;
  line-height: 1;
  margin-bottom: 1rem;
  /* font-weight: bold; */
}

/* .easyHeader {
  font-size: 1.75rem;
  line-height: 2;
  font-weight: normal;
  margin-bottom: 3rem;
} */

.scheduleBtn {
  font-size: 5vw;
  background: #388E3C;
  color: white;
  border-radius: 4rem;
  padding: 1rem 2rem;
  font-weight: normal;
  border: none;
}

/* @media (min-width: 768px) {
  .scheduleBtn {
    font-size: 3vw;
    background: #388E3C;
    color: white;
    border-radius: 4rem;
    padding: 1rem 2rem;
    font-weight: normal;
    border: none;
  }
} */

@media (min-width: 992px) {
  .ctaHeader {
    font-size: 2.25rem;
    font-size: 3.75vw;
    font-size: min(3.75vw, 3.5rem);
  }
  .ctaArrow {
    font-size: 25vh;
  }
  .scheduleBtn {
    font-size: 2rem;
    background: #388E3C;
    color: white;
    border-radius: 4rem;
    padding: 1rem 2rem;
    font-weight: normal;
    border: none;
  }
}

.description {
  font-weight: lighter;
  margin-bottom: 5rem;
}

.clickable {
  cursor: pointer;
}
